<% @title = "Sign up" %>

<div id="main" class='devise'>
  <div class="container-fluid">
    <div class="row">
      <header class="text-center">
        <h1><%=app_name%></h1>
        <p class="p0 m0">Sign Up</p>
      </header>
    </div>
    <div class="vertical-center">


    <div class="col-md-4 mt20">
      <div class="sheet-inner text-left">


      <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <!-- collection: Project.statuses, label_method: :first, value_method: :first, include_blank: false -->
        <%= f.association :managements, as: :radio_buttons %>
        <%= f.input :type, collection: ["Independent", "Manager","Leader", "User" ]%>
        <%= f.button :submit %>
      <% end %>
    </div>
    <!-- <div class="row mt20">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-right">
        <ul class="list-unstyled options">
          <li class="col-xs-12"><%= link_to "Log in", new_session_path(resource_name), class: '' %></li>
        </ul>
      </div>
    </div> -->
  </div>
</div>
  </div>
  </div>
