



<%# @contract.group_by(&:actform).each do |actform, c| %>

<div class="sheet-inner">

    <div class="col-lg-6 col-md-6 col-sm-12 animate-drop-fade">
       <div class="form">fhfhfh
         <%= form_tag(search_path, :method => "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search By Date" %>
         <%#= text_field_tag :search, params[:search], placeholder: "Search ACTCODE", id: 'byact' %>
         <%= submit_tag "Search" %>
         <% end %>
       </div>
    <div>
       <div class="results">
          <h4>Booked</h4>
        <% if @contract.present? %>
       <%= render 'contracts' %>
         <% end %>
       </div>



   </div>
   </div>
       <div class="col-lg-6 col-md-6 col-sm-12 animate-drop-fade">

    <div>
       <div class="results pt20">
          <h3>Available</h3>
       <% if @actcode.present? %>
     <%= render 'contractsava' %>
     <% end %>
       </div>



   </div>
   </div>
   <div class="clearfix"></div>
</div>
