   <div class="clearfix"></div>
   <span class="lead pl30"> Upcoming Events</span>
 <div> 
   <% contract.each do |contract| %>
   <div class="sheet-inner m20 pl30 pr30 pt20">
         <div class="row text-center"> 
               <div class="col-xs-12 col-sm-12 col-md-1  col-lg-1 blue-a400 text-grey-50 mb5 ">
                  
                  <h6 class="text-gray-50 mt10"><%= "#{contract.date_of_event.strftime("%A")}" %></h6>
                     <h1 class="m0"><%= "#{contract.date_of_event.strftime("%d")}" %></h1>
                        <h5 class="mt0 mb10"><%= "#{contract.date_of_event.strftime("%b")}" %></h5>
                           <span class="metric-value"></span>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                  <div>
                  <p class="lead pb0 mb0"><%= link_to "#{contract.first_name} #{contract.last_name}", contract %></p>
                  <h5 class="mt0 mb0 ml5"><%= contract.type_of_event %></h5>
                  <%#= contract.location_city %>
                  <h5 class="mt10 mb0 ml5"><%= contract.eventtime %></h5>
               </div>
               </div>
                          <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
<% if contract.location_name? %>
   <address>
         <div>
               <p class="lead pb0 mb0"><%= contract.location_name.gsub('"', ' ') %></p>
                <p><%= "#{contract.location_address_line_1}" %> <br> <%= "#{contract.location_city} #{contract.location_state} #{contract.location_zip}" %><br>
                  Phone: <%= contract.location_phone %>
                 
                   <%#= button_to("Get Directions", "http://maps.google.com/?q=#{themap}", class: 'ui button green success')%></p>
         </div>
   <address>
                      
 <% end %>
<span class="metric-value">

</span>
<div class="small"></div>
</div>
                 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pt10">
                   <p><%=  contract.contract_provisions.gsub('"', ' ') unless contract.contract_provisions.blank? %></p>
                 
                 </div>
                 
      
                 <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
 <% if contract.confirmation == 1  %>
    <%= button_to 'Get Info', contract, class: 'btn btn-flat btn-sm btn-success',method: :get %>
    <% else %>
    <%#= button_to 'CONFIRM', m, class: 'btn-danger',method: :get %>
     <%=   link_to ' CONFIRM THIS EVENT ', confirmjob_contract_path(contract.id),  class: "btn btn-flat btn-sm btn-danger" %>
    <%#= button_to 'CONFIRM', confirmjob_contract_path(contract.id), class: "btn btn-flat btn-sm btn-danger" %>
    <% end %>
<span class="metric-value">

</span>
<div class="small"></div>
</div>

         </div>
   </div>
   <% end %>
</div>
 
  
