<div class="form-inputs">
<%= simple_form_for(@actcode, html: { class: 'form-horizontal' }) do |f| %>
<%= f.error_notification %>
<%= f.input :actcode, class: 'control-label col-md-2' %>
<%= f.association :management, class: 'form-control control-label col-md-2' %>
<%= f.input :description, class: 'form-control' %>
<%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
</div>
